body {
    background: #f8f9fa;
}

.card img {
    object-fit: cover;
    height: 220px;
}

.navbar-brand {
    font-weight: bold;
}

.numbering{
    font-size:12px;
    color:red;
}

.table td, .table th {
    vertical-align: middle;
}

/* Chrome, Safari, Edge, Opera */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}



